<html>
  <head>
  <link rel="stylesheet" href="nutrinews.css">
  </head>
<body>
<section class="performanceFacts">
  <header class="performanceFactsHeader">
    <h1 class="performanceFactsTitle">NutriNews</h1>
  </header>
  <table>

    <tbody>
      <tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Time to read</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         20 mins
        </td>
      </tr>
 <tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Correction</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         False
        </td>
      </tr>

<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Disclosure</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         False
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Charts</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         5
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>External Links</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         2
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Internal Links</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         3
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Documents</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         2
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Images</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         20 mins
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Original Images</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         20 mins
        </td>
      </tr>
<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Videos</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         0
        </td>
      </tr>
<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Words</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         1256
        </td>
      </tr>



 <tr>
</tbody>
  </table>
</section>
  </body>
</html>

