<html>
  <head>
  <style>
  	body {
  font-size: small;
  line-height: 1.4;
}


.performanceFacts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 280px;
  padding: 0.5rem;
  table {
    border-collapse: collapse;
  }
}
.performanceFactsTitle {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performanceFactsHeader {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
table {
  width: 100%;
  border-bottom: 10px solid black;
  tr {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 5px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
 

}

  </style>
  </head>
<body style="margin-left:40%">
<section class="performanceFacts">
  <header class="performanceFactsHeader">
    <h1 class="performanceFactsTitle">NutriNews</h1>
  </header>
  <table>

    <tbody>
      <tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Time to read</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ time_to_read }} mins
        </td>
      </tr>
      {% if correction %}}
 	  <tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Correction</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         Yes
        </td>
      </tr>
      {% endif %}

{% if disclosure %}}
		<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Disclosure</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         Yes
        </td>
      </tr>
     {% endif %}


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Charts</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ charts }}
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>External Links</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ external_links }}
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Context Links</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ context_links }}
        </td>
      </tr>

<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Story Links</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ story_links }}
        </td>
      </tr>

<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Documents</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ documents }}
        </td>
      </tr>

<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Last Updated</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ last_updated }}
        </td>
      </tr>

<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Images</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ images }}
        </td>
      </tr>


<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Original Images</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ original_images }}
        </td>
      </tr>
<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Videos</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ videos }}
        </td>
      </tr>
<tr>
        <th colspan="2" style = "padding: 0.25rem 0;white-space: nowrap;text-align:left; border-bottom: 1px solid black;">
          <b>Words</b>

        </th>
        <td style = " border-bottom: 1px solid black;">
         {{ words }}
        </td>
      </tr>



 <tr>
</tbody>
  </table>
<br>
<br>
<p>***This story was written by @cassi_pollock, who has written 441 stories for @texastrib.</p>

<p>***This article was shared, among others, by @breitbart, @ted_cruz. See more at:</p>
</section>

  </body>
</html>

